@using MealWheel
@model MealWheel.Models.feedback
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <h2 style="color:mediumpurple">
        Delete Feedback
    </h2>
    <form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
             <div class="form-group row">
            <div class="col-6">
                <label asp-for="product.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="product.Name" readonly="readonly" class="form-control" id="validationCustom05" required/>
            </div>
            </div>
            <div class="form-group row">
            <span asp-validation-for="product.Name" class="text-danger"></span>
            <br />
             <div class="col-6">
                <label asp-for="uname"></label>
            </div>
            
            <div class="col-6">
                <input asp-for="uname" readonly="readonly" class="form-control"  id="validationCustom05" required/>
            </div>
            <span asp-validation-for="uname" class="text-danger"></span>
            <br />
            </div>  
            <div class="form-group row">
            <div class="col-6">
                <label asp-for="review"></label>
            </div>
            <div class="col-6">
                <input asp-for="review" readonly="readonly" class="form-control" id="validationCustom05" required/>
            </div>
            </div>
            <div class="form-group row">
            <span asp-validation-for="review" class="text-danger"></span>
            <br />
             <div class="col-6">
                <label asp-for="rating"></label>
            </div>
            
            <div class="col-6">
                <input asp-for="rating" readonly="readonly" class="form-control"  id="validationCustom05" required/>
            </div>
            <span asp-validation-for="rating" class="text-danger"></span>
            <br />
            </div>  
       
        <div class="form-group">
            <input class="btn btn-danger" value="Delete" type="submit"/>
            <a asp-action="Index" class="btn btn-success"> Back to List</a>
        </div>
        </div>
         <div class="col-1">

        </div>
        
       
    </div>
</form>
</div>
