@using MealWheel
@model IEnumerable<MealWheel.Models.MyOrder>
@{
    ViewData["Title"] = "Orders";
}

<head>
    <link rel="stylesheet" href="~/css/Home.css"/>
</head>
<div>
    <h1>
        My Order's'
    </h1>
</div>
<div class="row cart">
    <table class="col-12"> 
        <tr>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                SubTotal
            </th>
            <th>
                date purchased
            </th>
            <th>
                Order Placed
            </th>
            <th>
                feedback
            </th>
        </tr>
        @foreach(var p in Model)
        {
            <tr>
            <td>
                <div class="cart-in">
                    <img src="~/@p.bill.product.picurl" height="160px"/>
                    <h5 class="text-right d-inline">@p.bill.product.Name</h5>
                    <br/>
                    <!-- <h5 class="text-right" style="color:#fb3531">/-</h5> -->
                </div>
            </td>
            <td>
                <input type="number" readonly="readonly" value="1" />
            </td>
            <td>
                @p.bill.product.Price
            </td>
            <td>
                @p.bill.dateOrdered
            </td>
            @if(@p.bill.Orderplaced==true)
                {
                    <td style="color:green">
                        Oredred
                    </td>
                }
             @if(@p.bill.Orderplaced==false)
                {
                    <td style="color:red">
                        Oredred
                    </td>
                }
                <td>
                    <a asp-action="feedback" asp-route-id="@p.bid" class="btn btn-primary">feedback</a>
                </td>
            </tr>
        }
    </table>
</div>

