
@{
    ViewData["Title"] = "Success";
}

<head>
    <link rel="stylesheet" href="~/css/Home.css"/>
</head>
<div class="img-cen">
    <h5 style="color:green">Success fully Ordered</h5>
</div>
<div class="row text-center">
    <a asp-action="Index">Back To Home Page</a>
</div>


