@using MealWheel
@model MealWheel.Models.discount
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h2 style="color:mediumpurple">
    </h2>
    <form asp-action="Details" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
             <div class="form-group row">
            <div class="col-6">
                <label asp-for="name"></label>
            </div>
            <div class="col-6">
                <input asp-for="name" readonly="readonly" class="form-control" id="validationCustom05" required/>
            </div>
            </div>
            <div class="form-group row">
            <span asp-validation-for="name" class="text-danger"></span>
            <br />
             <div class="col-6">
                <label asp-for="description"></label>
            </div>
            <div class="col-6">
                <input asp-for="description" readonly="readonly" class="form-control"  id="validationCustom05" required/>
            </div>
            <span asp-validation-for="description" class="text-danger"></span>
            <br />
            </div>
            <br />
        </div>
        <div class="form-group">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.id"> Edit </a>
            <a asp-action="Index" class="btn btn-success"> Back to List</a>
        </div>
         <div class="col-1">

        </div>  
    </div>
    </form>
</div>

