
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/admin.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Food Products</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i></h2>
                    <a asp-area="" asp-controller="Foods" asp-action="Index">Food Products</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Orders</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i></h2>
                    <a  asp-area="" asp-controller="Orders" asp-action="Index">Ordes</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Feedback</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i></h2>
                    <a asp-controller="Feedbacks" asp-action="Index">Feedback</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Discount</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i></h2>
                  <a  asp-controller="Discount" asp-action="Index">Discount</a>
                </div>
            </div>
        </div> 

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Cart</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i></h2>
                  <a  asp-controller="Cart" asp-action="Index">Cartt</a>
                </div>
            </div>
        </div> 
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Categories</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i></h2>
                  <a  asp-controller="Categories" asp-action="Index">Categories</a>
                </div>
            </div>
        </div> 
         <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Favorites</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i></h2>
                  <a  asp-controller="Favorites" asp-action="Index">Favorites</a>
                </div>
            </div>
        </div> 
         <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">UserProfile</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i></h2>
                  <a  asp-controller="MyProfile" asp-action="Index">UserProfiles</a>
                </div>
            </div>
        </div> 
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Addresses</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i></h2>
                  <a  asp-controller="Addresses" asp-action="Index">Addresses</a>
                </div>
            </div>
        </div> 

	</div>
</div>

